.card
    .sneaker
        .circle
        img(src="./img/adidas.png" alt="adidas")
    .info
        h1.title Adidas ZX
        h3.about FUTURE-READY TRAINERS WITH WRAPPED BOST FOR ECPECTAION COMFORT.
        .sizes
            button 39
            button 40
            button.active 42
            button 44
        .purchase
            button purchase